doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/style.css")
        title Document
    body 
        header.bgRed
            h2 this is the h2 inside the header and Welcome to #{title}
        main 
            p this is the fucking paragraph inside the tag p of main tag 
            div 
                a(href=link, target="_blank") link 

        footer 
            div 
                span and this is a single span
